.default {
	color: #495057 !important;
}

/* Form */
.hint-block {
	margin: 10px 0;
}
.hint-block:first-child,
.control-label~.hint-block {
	margin-top: 0;
}
.hint-block:last-child {
	margin-bottom: 0;
}

/* Alert */
.color-primary {
	color: #19487e !important;
}
.color-secondary {
	color: #383d41 !important;
}
.color-success {
	color: #25610b !important;
}
.color-info {
	color: #2a5766 !important;
}
.color-warning {
	color: #856404 !important;
}
.color-danger {
	color: #721c24 !important;
}
.color-light {
	color: #818182 !important;
}
.color-dark {
	color: #1c2835 !important;
}
.color-teal {
	color: #0b613b !important;
}
.color-purple {
	color: #2a3366 !important;
}
.color-dark-gray {
	color: #4c535a !important;
}
.color-light-gray {
	color: #7b7c7d !important;
}
.color-muted-light {
	color: #727477 !important;
}
.color-facebook {
	color: #1f2e4f !important;
}
.color-twitter {
	color: #00597b !important;
}


/* =Content Menu
-------------------------------------------------------------- */
ul.content-menu {
	display: inline-block;
	vertical-align: middle;
	list-style: none;
	padding: 0;
	margin: 0;
}
ul.content-menu li {
	float: left;
	margin-left: 1rem;
}
ul.content-menu li:first-child,
ul.content-menu li:first-child:last-child {
	margin-left: 0;
}
ul.content-menu i.fa {
	margin-right: 4px;
}

.shadow-content {
    position: relative;
}
.shadow-content:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3CradialGradient id='rgrad' cx='50%25' cy='50%25' r='75%25' %3E%3Cstop offset='0%25' style='stop-color:rgb(128,128,128);stop-opacity:0' /%3E%3Cstop offset='44%25' style='stop-color:rgb(0,0,0);stop-opacity:0.56' /%3E%3Cstop offset='78%25' style='stop-color:rgb(0,0,0);stop-opacity:0.9' /%3E%3Cstop offset='88%25' style='stop-color:rgb(0,0,0);stop-opacity:0.95' /%3E%3Cstop offset='95%25' style='stop-color:rgb(0,0,0);stop-opacity:0.97' /%3E%3Cstop offset='100%25' style='stop-color:rgb(0,0,0);stop-opacity:1' /%3E%3C/radialGradient%3E%3C/defs%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23rgrad)'/%3E%3C/svg%3E");
}

/* =Form
-------------------------------------------------------------- */
.form-check .form-check-label {
	max-width: 100% !important;
	padding-left: 0;
}

/* Selectize */
.selectize-control.form-control,
.selectize-control .selectize-dropdown {
	padding: 0;
}
.selectize-control.form-control {
	border: none;
}
.selectize-control .selectize-dropdown {
	height: auto;
}
.selectize-dropdown .option,
.selectize-dropdown .optgroup-header,
.selectize-dropdown .create {
  padding: 5px 8px;
}
.selectize-input {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
.selectize-control.single .selectize-input {
	border: 1px solid #dbdfe4;
}

/* UL */
.list-boxed {
	margin: 10px 0;
	padding-left: 15px;
}
.list-boxed:first-child {
	margin-top: 0;
}
.list-boxed:last-child {
	margin-bottom: 0;
}
.list-boxed:first-child:last-child {
	margin-top: 0;
	margin-bottom: 0;
}

/* Background */
.transparent {
	background: transparent !important;
}

/* Border */
.border-none {
	border: none !important;
}